*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 1rem;
}
.box{
    height: 400px;
    width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-bottom-left-radius: 10px;
   

}
.box img{
    width: 150px;
    height: 150px;
}
.detail{
   
    width: 100%;
    height: 100%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail h1{
    font-size: 2vw;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}

button{
    
    background-color: rgb(86, 86, 86);
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 1rem;
    font-size: 1.9rem;
    padding: 1rem 3rem;
    border-radius: 10rem;
    
}
